button{
    font-size: 2em;
    padding: 1.1em;
}

#init-song{
}

#note{
    padding:2em;

}

#congrats {
    padding: 2em;
    visibility: hidden;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#sheet {

}

#left{
    flex-grow: 2;
}
